.header{
    background-color: #131921;
    display: flex;
    align-items: center;
}

.header__logo{
    width: 100px;
    margin: 0 20px;
    margin-top: 18px;
}

.header__searchIcon {
    background-color: #cd9042;
}

.header__search{
    display: flex;
}